{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Elite Dangerous Database{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "eddb/stylesheets/eddb.css" %}"/>
    <script type="text/javascript" src="{% static "jquery/javascripts/jquery-2.2.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/javascripts/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/javascripts/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "eddb/javascripts/ux.js" %}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- toggle button for mobile devices -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#site-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <!-- 3x .icon-bar resembles a 3-line menu-indicator -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">µeddb</a>
        </div>

        <div class="collapse navbar-collapse" id="site-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url "resources:index" %}">Resources</a>
                </li>
                <li>
                    <a href="{% url "engineers:engineer_list" %}">Engineers</a>
                </li>
                <li>
                    <a href="{% url "engineers:blueprint_list" %}">Blueprints</a>
                </li>
            </ul>

{#            <div class="navbar-text navbar-right">#}
{#                <a class="navbar-link" href="{% url "admin:index" %}">Admin</a>#}
{#            </div>#}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs12">
            {% block content %}
                Here be dragons
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>