$icon-font-path: "/static/bootstrap/fonts/bootstrap/";

@import "bootswatch/cosmo/variables";
@import "bootstrap/stylesheets/bootstrap";
@import "bootswatch/cosmo/bootswatch";

@warn $icon-font-path;

.table {
  col.name-secondary { width: 250px; }
  col.grade { width: 150px; }
  col.numeric { width: 100px; }

  .numeric {
    text-align: right;
  }

  .headerSortUp::after,
  .headerSortDown::after {
    font-family: "Glyphicons Halflings";
    padding-left: $padding-base-horizontal;
    font-size: $font-size-small;
  }
  .headerSortUp::after { content: "\e156"; }
  .headerSortDown::after { content: "\e155"; }
}

.form {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  textarea,
  select {
    @extend .form-control;
  }

  select[multiple] {
    min-height: 200px;
  }

  option {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .form-group {
    ul {
      @extend .list-unstyled;
      //@extend .list-group;
      //
      //&>li {
      //  @extend .list-group-item;
      //}
    }
  }
}

.blueprint-effects {
  .progress {
    $progress-bar-label-width: 50px;
    $progress-bar-label-offset: $progress-bar-label-width * 1.1;
    $progress-bar-label-padding: 4px;
    $progress-bar-height: 20px;

    height: $progress-bar-height;
    position: relative; // relative for .zero-indicator

    .zero-indicator {
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;
      height: $line-height-computed;
      background: $text-color;
      z-index: 1000;
    }

    .progress-bar {
      font-size: $progress-bar-height;
      line-height: $progress-bar-height;
      position: relative;
    }
    .progress-bar::before,
    .progress-bar::after {
      background: transparentize($badge-bg, 0.5);
      color: $badge-color;
      font-size: $progress-bar-height - 2 * $progress-bar-label-padding;
      line-height: $progress-bar-height - 2 * $progress-bar-label-padding;
      margin: $progress-bar-label-padding;
      padding: 0 $progress-bar-label-padding;
      position: absolute;
      z-index: 1005;
    }
    .progress-bar::before {
      content: attr(data-min);
      right: 100%;
      text-align: right;
    }
    .progress-bar::after {
      content: attr(data-max);
      left: 100%;
      text-align: left;
    }
  }
}