{% extends "base.html" %}

{% load eddb_tags %}

{% block title %}Blueprints &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h1>Blueprints</h1>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-list table-sortable">
                <caption class="sr-only">Blueprints</caption>

                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th>Module</th>
                    <th>Blueprint</th>
                    <th>Grade</th>
                </tr>
                </thead>
                <tbody>
                {% for blueprint in filter %}
                    <tr>
                        <td>{{ blueprint.module_type }}</td>
                        <th>
                            <a href="{% url "engineers:blueprint_detail" pk=blueprint.pk %}">{{ blueprint.name }}</a>
                        </th>
                        <td data-value="{{ blueprint.grade }}">
                            {% display_grade blueprint.grade %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h3>Filter Blueprints</h3>
                <form class="form form-vertical" action="" method="get">
                    {% include "filter_form.html" with form=filter.form %}
                    <button type="submit" class="btn btn-default btn-block">filter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}