{% extends "base.html" %}

{% load eddb_tags %}

{% block content %}
    <h1>
        <small>{{ blueprint.module_type }}</small>
        <br/>
        {{ blueprint.name }}
        <small>{% display_grade blueprint.grade %}</small>
    </h1>

    <div class="jumbotron">
        {# TODO add blueprint effects #}
        {% lorem %}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h2>Engineers</h2>
            <ul class="list-group">
                {% for engineer in blueprint.engineers.all %}
                    <li class="list-group-item">{{ engineer.name }}
                        {% if engineer.location %}
                            ({{ engineer.location }})
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-md-9">
            <h2>Required Resources:</h2>
            <table class="table">
                <caption class="sr-only">Required Resources:</caption>
                <colgroup>
                    <col width="0" class="text-center" />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <th>Amount</th>
                    <th>Resource</th>
                    <th>Description</th>
                </thead>
                <tbody>
                {% for requirement in blueprint.requirements.all %}
                    <tr>
                        <td>{{ requirement.amount|default:"n.a." }}</td>
                        <th>
                            <a href="{% url "resources:resource_detail" pk=requirement.resource.pk %}">{{ requirement.resource.name }}</a>
                            <small>{% display_grade requirement.resource.grade %}</small><br />
                        </th>
                        <td>{{ requirement.resource.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}