{% extends "base.html" %}

{% load eddb_tags %}

{% block content %}
    <h1>{{ engineer.name }}</h1>

    <h2>Upgrade Types</h2>
    <ul class="nav nav-pills" role="tablist">
        {% for module_upgrade in module_upgrades %}
            <li role="presentation">
                <span class="label label-default">
                    {{ module_upgrade.module_name }}
                    {% display_grade module_upgrade.grade_max %}
                </span>
            </li>
        {% endfor %}
    </ul>

    <h2>Blueprints</h2>
    <table class="table table-striped table-sortable">
        <caption class="sr-only">Blueprints:</caption>

        <colgroup>
            <col class="name name-secondary"/>
            <col class="name"/>
            <col class="grade"/>
        </colgroup>

        <thead>
        <th>Module</th>
        <th>Blueprint</th>
        <th>Grade</th>
        </thead>

        <tbody>
        {% for blueprint in engineer.blueprints.all %}
            <tr>
                <td>{{ blueprint.module_type }}</td>
                <th>
                    <a href="{% url "engineers:blueprint_detail" pk=blueprint.pk %}">{{ blueprint.name }}</a>
                </th>
                <td>{% display_grade blueprint.grade %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}