{% extends "base.html" %}

{% load eddb_tags %}

{% block title %}Engineers{% endblock %}

{% block content %}
    <h1>Engineers</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-list table-sortable">
                <caption class="sr-only">Engineers</caption>

                <colgroup>
                    <col class="numeric"/>
                    <col/>
                    <col class="numeric"/>
                </colgroup>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Blueprints</th>
                </tr>
                </thead>
                <tbody>
                {% for engineer in engineer_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <th>
                            <a href="{% url "engineers:engineer_detail" pk=engineer.pk %}">{{ engineer }}</a>
                            <ul class="nav nav-pills" role="tablist">
                                {% for module_upgrade in engineer.module_upgrades %}
                                    <li role="presentation">
                                        <span class="label label-default">
                                            {{ module_upgrade.module_name }}
                                            {% display_grade module_upgrade.grade_max %}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </th>
                        <td>{{ engineer.blueprints.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}